//properties

@mixin width-maxwidth-margin {
    max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

@mixin square-size($size) {
    width: $size;
    height: $size;
}

@mixin underline {
    height: 1px;
    width: 10%;
    margin: 0px auto;
    background: #dc0210;
}

@mixin p-margin-lheight-wspacing-lspacing {
    margin: 1rem 0;
    line-height: 1.5;
    word-spacing: 5px;
    letter-spacing: 1px;
}

@mixin h2-fsize-lheight-margin {
    font-size: 1.5rem;
    line-height: 1.15;
    margin: 10px auto;
}