@import '_partials';

@font-face {
    @include font-properties;
}

//CSS reset from meyerweb.com

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: $font-family;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}


//Page styling

html {
    scroll-behavior: smooth;
    height: 100%;
}

//Pre loader elements

.loaded {
    #loading {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    #load-screen {
        visibility: hidden;
        .section-left {
            transform: translateX(-100%);
            transition: all 0.3s 1s ease-out;
        }
        .section-right {
            transform: translateX(100%);
            transition: all 0.3s 1s ease-out;
        }
    }
}

#load-screen {
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #ffffff;
        z-index: 1000;
    }
    .section-left {
        left: 0;
    }
    .section-right {
        right: 0;
    }
    #loading {
        z-index: 1001;
        .greetings {
            .welcome-word {
                position: relative;
                top: 50%;  
                margin: 0 auto;
                font-size: 180%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;   
            }
            .line {
                height: 2px;
                width: 0;
                margin: 5px auto;
                background: #000000;
            }
            .triangle {
                width: 0;
                height: 0;
                margin: 0 auto;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 25px solid #dc0210;
                animation: appear linear 0.5s, 
                            flash linear 1s 1.5s infinite;
            }
        }
    }
}

//Header and navigation

header {
    position: relative;
    width: 100%;
    .logo {
        z-index: 50;
        position: fixed;
    }
    .nav-logo {
        margin: 20px;
        position: fixed;
    }
    .toggle {
        z-index: 50;
        position: fixed;
        right: 0;
        margin: 20px;
        cursor: pointer;
        span {
            position: relative;
            display: block;
            .header-over-text {
                h1 {
                    font-size: 1rem;
                    visibility: hidden;
                }
            }
            background-color: #dc0210;
            width: 36px;
            height: 4px;
            margin-bottom: 8px;
            transition: .5s;
        }
        span:nth-child(1) {
            transform-origin: left;
        }
        span:nth-child(2) {
            transform-origin: center;
        }
        span:nth-child(3) {
            transform-origin: left;
        }
    }
    .active {
        span:nth-child(1) {
            transform: rotate(45deg);
            left: 2px;
        }
        span:nth-child(2) {
            transform: rotate(315deg);
            right: 3px;
        }
        span:nth-child(3) {
            transform: scaleX(0);
        }
    }
}

.my-navbar {
    min-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .my-navbar-nav {
        display: none;
        .my-nav-link {
            color: #dc0210;
            text-transform: uppercase;
            font-size: 1.25em;
            text-decoration: none;
            font-weight: 700;
        }
        .underline-from-center {
            transform: translateZ(0);
            backface-visibility: hidden;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 50%;
                right: 50%;
                bottom: -4px;
                background: #ffffff;
                height: 1px;
                transition-property: left right;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            &:hover:before {
                left: 0;
                right: 0;
            }
        }
    }
}

//Do stuff when menu is opened

.nav-is-open {
    .my-navbar-nav {
        display: block;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,.95);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        cursor: pointer;
        .my-nav-item {
            margin: 5px;
            font-size: 1.5rem;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .nav-logo {
        position: fixed;
    }
}

.box-header {
    .header-image {
        background-image: linear-gradient(#000000, #000000), url('../img/content/header_1200_600.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: saturation;
        background-attachment: fixed;
        height: 100vh;
        filter: grayscale(0.5);
    }
}

.header-over-text {
    img {
        width: 45%;
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.box-projects {
    height: 100%;
    padding: 2rem;
    background-image: linear-gradient(#000000, #000000), url('../img/content/projects_1200_600.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
    text-align: center;
    h2 {
        @include h2-projects-style;
    }
    .projects-grid {
        display: grid;
        margin: 5%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 25px;
        grid-row-gap: 15px;
        .project1-wrapper,
        .project2-wrapper,
        .project3-wrapper {
            overflow: hidden;
            position: relative;
            height: 300px;
            box-shadow: 0px 0px 5px 5px #888888;
            .project1,
            .project2,          
            .project3 {
                height: 100%;
                .overlay {
                    position: absolute;
                    background: rgba(0,0,0,0.7);
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                }
                &:hover .overlay {
                    opacity: 1;
                }
                .content-details {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding-left: 1em;
                    padding-right: 1em;
                    opacity: 0;
                    transition: all 0.3s ease-in-out 0s;
                    p {
                        margin: 15px auto;
                        color: #ffffff;
                        text-transform: uppercase;
                        word-spacing: 5px;
                        letter-spacing: 1px;
                        font-weight: 500;
                    }
                    .github-right,
                    .play-left {
                        background-color: transparent;
                        color: #ffffff;
                        font-size: 40px;
                        padding: 10px;
                        &:hover {
                            color: #dc0210;
                        }
                    }
                    .play-left {
                        top: 0;
                        left: 30%;
                    }
                    .github-right {
                        top: 0;
                        left: 70%;
                    }
                }
                &:hover .content-details {
                    top: 50%;
                    left: 50%;
                    opacity: 1;
                }
                .fadeIn-bottom {
                    top: 80%;
                }
                .project-img {
                    height: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.box-footer {
    background-color: $footer-bg-color;
    height: 100vh;
    display: grid;
    .box-contact {
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        p {
            @include p-contact-style;
        }
        h2 {
            @include h2-contact-style;
            
        }
        form {
            margin: 0 10%;
            div input,
            div textarea {
                font-family: $font-family;
                margin: 1% auto;
                border: 1px solid #dc0210;
            }
            input {
                width: 100%;
            }
            textarea {
                width: 100%;
            }
            label {
                margin-bottom: 0.5rem;
                font-size: 1rem;
            }
            .contact-btn {
                background: none;
                border: 1px solid #ffffff;
                color: #ffffff;
                width: 100%;
                cursor: pointer;
                font-size: 1rem;
                text-transform: uppercase;
                padding: 5px;
                font: inherit;
                &:hover {
                    border: 1px solid #dc0210;
                    color: #dc0210;
                }
            }
            .form-name {
                grid-area: a;
                margin-right: 2%;
                input {
                    height: 2em;
                }
            }
            .form-email {
                grid-area: b;
                margin-left: 2%;
                input {
                    height: 2em;
                }
            }
            .form-message {
                grid-area: c;
                textarea {
                    height: 10em;
                }
            }
            .form-send {
                grid-area: d;
            }
            display: grid;
            grid-column-gap: 10px;
            grid-row-gap: 30px;
            grid-auto-columns: 100px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "a b"
            "c c"
            "d d";
        }
    }
    .social-media {
        text-align: center;
        color: #dc0210;
        margin: 2% 0;
        a {
            text-decoration: none;
            i[class*='fa-'] {
                color: #ffffff;
                font-size: 30px;
                margin: 5px;
                &:hover {
                    color: #dc0210;
                }
            }
        }
    }
    .copyrights {
        text-align: center;
        margin: auto;
        p {
            color: #ffffff
        }
    }
}
    
//Animation

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

// //Media Queries

//Extra small devices
@media only screen and (max-width: 600px) {
    .image-header {
        display: none;
    }
    .nav-is-open {
        .my-navbar-nav {
            .my-nav-link {
                font-size: 1em;
            }
        }
    }
}
//Small devices

@media only screen and (min-width: 600px) {
    .nav-is-open {
        .my-navbar-nav {
            .my-nav-link {
                font-size: 1em;
            }
        }
    }
}

//Medium devices

@media only screen and (min-width: 768px) {
}

//Large devices

@media only screen and (min-width: 992px) {
}

//Extra large devices

@media only screen and (min-width: 1200px) {
}