/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import '_partials';

@font-face {
    font-family: 'magdacleanmonoregular';
    src: url('../fonts/magdacleanmono_regular-webfont.woff2') format('woff2'),
            url('../fonts/magdacleanmono_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// @import url(//db.onlinewebfonts.com/c/631ff3be8e08ee5f7db026efc6a12ca1?family=FF+Magda+Clean+Mono);

//CSS reset from meyerweb.com

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:'magdacleanmonoregular';
	background-color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}
//Page styling

//Pre loader elements

.loaded {
    #loading {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    #load-screen {
        visibility: hidden;
        // background-color: #ffffff;
        // position: fixed;
        // z-index: 100;
        // top: 0;
        // width: 100%;
        // height: 100vw;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        .section-left {
            transform: translateX(-100%);
            transition: all 0.3s 1s ease-out;

        }
        .section-right {
            transform: translateX(100%);
            transition: all 0.3s 1s ease-out;
        }
    }
}

#load-screen {
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #ffffff;
        z-index: 1000;
    }
    .section-left {
        left: 0;
    }
    .section-right {
        right: 0;
    }
    #loading {
        z-index: 1001;
        .greetings {
            .welcome-word {
                position: relative;
                top: 50%;  
                margin: 0 auto;
                font-size: 180%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;   
            }
            .line {
                height: 2px;
                width: 0;
                margin: 5px auto;
                background: #000000;
            }
            .triangle {
                width: 0;
                height: 0;
                margin: 0 auto;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 25px solid #dc0210;
                animation: appear linear 2s, 
                            flash linear 2s 2.5s infinite;
            }
        }
    }
}

//Header and navigation

header {
    // background-image: url(../img/content/web-3706563_1920.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    position: relative;
    // height: 600px;
    width: 100%;
    .logo {
        z-index: 50;
        position: fixed;
    }
    .nav-logo {
        margin: 20px;
        position: fixed;
    }
    .toggle {
        z-index: 50;
        position: fixed;
        right: 0;
        margin: 20px;
        cursor: pointer;
        span {
            position: relative;
            display: block;
            background-color: #dc0210;
            width: 36px;
            height: 4px;
            margin-bottom: 8px;
            transition: .5s;
        }
        span:nth-child(1) {
            transform-origin: left;
        }
        span:nth-child(2) {
            transform-origin: center;
        }
        span:nth-child(3) {
            transform-origin: left;
        }
    }
    .active {
        span:nth-child(1) {
            transform: rotate(45deg);
            left: 2px;
        }
        span:nth-child(2) {
            transform: rotate(315deg);
            right: 3px;
        }
        span:nth-child(3) {
            transform: scaleX(0);
        }
    }
}

.my-navbar {
    background-color: #000000;
    min-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .my-navbar-nav {
        display: none;
        .my-nav-link {
            color: #dc0210;
            text-transform: uppercase;
            font-size: 1.25em;
            &:hover {
                text-decoration: none;
            }
        }
        .underline-from-center {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            overflow: hidden;
            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              left: 50%;
              right: 50%;
              bottom: -4px;
              background: #ffffff;
              height: 1px;
              -webkit-transition-property: left right;
              transition-property: left right;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
            }
            &:hover:before {
              left: 0;
              right: 0;
            }
          }
    }
}

//Do stuff when menu is opened

.nav-is-open {
    .my-navbar-nav {
        display: block;
        position: fixed;
        // // position: absolute;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,.95);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        cursor: pointer;
        .my-nav-item {
            margin: 5px;
            font-size: 1.5rem;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .nav-logo {
        position: fixed;
    }
}

.box-header {
    margin-top: 80px;
    .header-image {
        margin-bottom: -4px;
        .parallax {
            img {
                width: 100%;
                position: relative;
            }
        }
    }
}

.header-over-text {
    h1 {
        @include h2-fsize-lheight-margin;
        text-transform: uppercase;
        color: #ffffff;
        background-color: rgba(0,0,0,.5);
        border: 1px solid #ffffff;
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}

.box-about-me {
    min-height: 200px;
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    background-color: $about-projects-bg-color;
    h2 {
        @include h2-fsize-lheight-margin;
    }
    p {
        @include p-margin-lheight-wspacing-lspacing;
    }
    .underline {
        @include underline;
    }
}

.my-technologies {
    background-color: $contact-skills-bg-color;
    padding: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    h2 {
        @include h2-fsize-lheight-margin;
    }
    .underline {
        @include underline;
    }
    .my-skills-grid {
        display: grid;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        padding-top: 1rem;
        * {
            text-align: center;
        }
        span {
            font-size: 90px;
            color: #dc0210;
        }
        p {
            @include p-margin-lheight-wspacing-lspacing;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}

.box-projects {
    min-height: 300px;
    padding: 2rem;
    background-color: $about-projects-bg-color;
    text-align: center;
    h2 {
        @include h2-fsize-lheight-margin;
    }
    .underline {
        @include underline;
    }
    .projects-grid {
        display: grid;
        grid-row-gap: 20px;
        margin: 5%;
    }
}

.box-contact {
    min-height: 200px;
    padding: 2rem;
    background-color: $contact-skills-bg-color;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    p {
        @include p-margin-lheight-wspacing-lspacing;
    }
    h2 {
        @include h2-fsize-lheight-margin;
    }
    form input {
        width: 100%;
    }
    form textarea {
        width: 100%;
    }
    form label {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
    form div {
        margin: 0 5% 5% 5%;
    }
    .underline {
        @include underline;
    }
}

.box-footer {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #dc0210;
    background-color: $body-footer-bg-color;
    min-height: 100px;
    a:hover {
        text-decoration: none;
    }
    i[class*='fa-'] {
        color: #dc0210;
        font-size: 30px;
        margin: 5px;
    }
    span {
        color: #dc0210;
        font-size: 30px;
        margin: 5px;
    }
}

//Animation

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

// //Media Queries

//Extra small devices
@media only screen and (max-width: 600px) {
    .nav-is-open {
        .my-navbar-nav {
            .my-nav-link {
                font-size: 1em;
            }
        }
    }
   
}
//Small devices

@media only screen and (min-width: 600px) {
    .nav-is-open {
        .my-navbar-nav {
            .my-nav-link {
                font-size: 1em;
            }
        }
    }
}

//Medium devices

@media only screen and (min-width: 768px) {
    .box-about-me {
        p {
            margin: 5% 7.5%;
        }
    }
    .my-technologies {
        
        .my-skills-grid {
            margin: 5% 7.5%;
            grid-gap: 10px;
            grid-auto-columns: 100px;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "a a b b c c"
            "d d e e f f"
            "g g g h h h";
        }
    }
    .item1 {
        grid-area: a;
    }
    .item2 {
        grid-area: b;
    }
    .item3 {
        grid-area: c;
    }
    .item4 {
        grid-area: d;
    }
    .item5 {
        grid-area: e;
    }
    .item6 {
        grid-area: f;
    }
    .item7 {
        grid-area: g;
    }
    .item8 {
        grid-area: h;
    }

    .box-projects {
        .projects-grid {
            margin: 5% 7.5%;
            grid-template-columns: repeat(3, 1fr);
            // grid-template-areas: 
            // "a a b b"
            // "c c c c";
        }
    }
    // .project1 {
    //     grid-area: a;
    // }
    // .project2 {
    //     grid-area: b;
    // }
    // .project3 {
    //     grid-area: c;
    // }
    .box-contact {
        p {
            margin: 5% 7.5%;
        }
        form {
            div {
                margin: 0 7.5% 2.5% 7.5%;
            }
        }
    }
}

//Large devices

@media only screen and (min-width: 992px) {
    .my-navbar {
        .toggle {
            display: none;
        }
        .my-navbar-nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 80px;
            padding: 15px;
            .my-nav-link {
                margin: 15px;
            }
        }
    }
    .box-about-me {
        p {
            margin: 3% 10%;
        }
    }
    .my-technologies {
        
        .my-skills-grid {
            margin: 3% 10%;
            grid-gap: 10px;
            grid-auto-columns: 100px;
            grid-template-columns: repeat(8, 1fr);
            grid-template-areas: 
            "a a b b c c d d"
            "e e f f g g h h";
        }
    }
    .box-contact {
        p {
            margin: 3% 10%;
        }
        form {
            div {
                margin: 0 10% 2.5% 10%;
            }
        }
    }
}

//Extra large devices

@media only screen and (min-width: 1200px) {
    .my-navbar {
        .toggle {
            display: none;
        }
        .my-navbar-nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 80px;
            padding: 15px;
            .my-nav-link {
                margin: 15px;
            }
        }
    }
    .box-contact {
        form {
            div {
                margin: 0 25% 2.5% 25%;
            }
        }
    }
}