/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import '_partials';

@font-face {
    font-family: 'magdacleanmonoregular';
    src: url('../fonts/magdacleanmono_regular-webfont.woff2') format('woff2'),
            url('../fonts/magdacleanmono_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// @import url(//db.onlinewebfonts.com/c/631ff3be8e08ee5f7db026efc6a12ca1?family=FF+Magda+Clean+Mono);

//CSS reset from meyerweb.com

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:'magdacleanmonoregular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
//Page styling

//Pre loader elements

.loaded {
    #loading {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    #load-screen {
        visibility: hidden;
        .section-left {
            transform: translateX(-100%);
            transition: all 0.3s 1s ease-out;

        }
        .section-right {
            transform: translateX(100%);
            transition: all 0.3s 1s ease-out;
        }
    }
}

#load-screen {
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #ffffff;
        z-index: 1000;
    }
    .section-left {
        left: 0;
    }
    .section-right {
        right: 0;
    }
    #loading {
        z-index: 1001;
        .greetings {
            .welcome-word {
                position: relative;
                top: 50%;  
                margin: 0 auto;
                font-size: 180%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;   
            }
            .line {
                height: 2px;
                width: 0;
                margin: 5px auto;
                background: #000000;
            }
            .triangle {
                width: 0;
                height: 0;
                margin: 0 auto;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 25px solid #dc0210;
                animation: appear linear 0.5s, 
                            flash linear 1s 1.5s infinite;
            }
        }
    }
}

//Header and navigation

header {
    position: relative;
    width: 100%;
    .logo {
        z-index: 50;
        position: fixed;
    }
    .nav-logo {
        margin: 20px;
        position: fixed;
    }
    .toggle {
        z-index: 50;
        position: fixed;
        right: 0;
        margin: 20px;
        cursor: pointer;
        span {
            position: relative;
            display: block;.header-over-text {
                h1 {
                    font-size: 1rem;
                    visibility: hidden;
                }
            }
            background-color: #dc0210;
            width: 36px;
            height: 4px;
            margin-bottom: 8px;
            transition: .5s;
        }
        span:nth-child(1) {
            transform-origin: left;
        }
        span:nth-child(2) {
            transform-origin: center;
        }
        span:nth-child(3) {
            transform-origin: left;
        }
    }
    .active {
        span:nth-child(1) {
            transform: rotate(45deg);
            left: 2px;
        }
        span:nth-child(2) {
            transform: rotate(315deg);
            right: 3px;
        }
        span:nth-child(3) {
            transform: scaleX(0);
        }
    }
}

.my-navbar {
    background-color: #12161E;
    min-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .my-navbar-nav {
        display: none;
        .my-nav-link {
            color: #dc0210;
            text-transform: uppercase;
            font-size: 1.25em;
            text-decoration: none;
            font-weight: 700;
        }
        .underline-from-center {
            transform: translateZ(0);
            backface-visibility: hidden;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 50%;
                right: 50%;
                bottom: -4px;
                background: #ffffff;
                height: 1px;
                transition-property: left right;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            &:hover:before {
                left: 0;
                right: 0;
            }
        }
    }
}

//Do stuff when menu is opened

.nav-is-open {
    .my-navbar-nav {
        display: block;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,.95);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        cursor: pointer;
        .my-nav-item {
            margin: 5px;
            font-size: 1.5rem;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .nav-logo {
        position: fixed;
    }
}

.box-header {
    // margin-top: 80px;
    .header-image {
        margin-bottom: -4px;
        .parallax {
            img {
                width: 100%;
            }
        }
    }
}

.header-over-text {
    h1 {
        @include h2-fsize-lheight-margin;
        text-transform: uppercase;
        color: #ffffff;
        background-color: rgba(0,0,0,.7);
        border: 1px solid #ffffff;
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}

.box-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    background-color: $about-projects-bg-color;
    h2 {
        @include h2-fsize-lheight-margin;
    }
    p {
        @include p-margin-lheight-wspacing-lspacing;
    }
    .underline {
        @include underline;
    }
}

.my-technologies {
    background-color: $contact-skills-bg-color; //#192A51
    padding: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    h2 {
        @include h2-fsize-lheight-margin;
    }
    .underline {
        @include underline;
    }
    .my-skills-grid {
        display: grid;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        padding-top: 1rem;
        * {
            text-align: center;
        }
        span {
            font-size: 90px;
            color: #dc0210;
        }
        p {
            @include p-margin-lheight-wspacing-lspacing;
            color: #ffffff;
            text-transform: uppercase;
        }
        .skill-icon:hover {
            transition: 0.5s;
            transform: scale(1.1,1.1);
            span {
                color: #ffffff;
            }
        }
    }
}

.box-projects {
    min-height: 300px;
    padding: 2rem;
    background-color: $about-projects-bg-color;
    text-align: center;
    h2 {
        @include h2-fsize-lheight-margin;
    }
    .underline {
        @include underline;
    }
    .projects-grid {
        display: grid;
        margin: 5%;
        min-width: 0;
        min-height: 0;
        grid-template-rows: repeat(3, 0.7fr);
        grid-row-gap: 15px;
        .project1-wrapper,
        .project2-wrapper,
        .project3-wrapper {
            min-width: 0;
            overflow: hidden;
            position: relative;
            .project1,
            .project2,          
            .project3 {
                .overlay {
                    position: absolute;
                    background: rgba(0,0,0,0.7);
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                }
                &:hover .overlay {
                    opacity: 1;
                }
                .content-details {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding-left: 1em;
                    padding-right: 1em;
                    opacity: 0;
                    transition: all 0.3s ease-in-out 0s;
                    p {
                        margin: 15px auto;
                        color: #ffffff;
                        text-transform: uppercase;
                        @include p-margin-lheight-wspacing-lspacing;
                    }
                    .github-right,
                    .play-left {
                        background-color: transparent;
                        color: #ffffff;
                        font-size: 40px;
                        padding: 10px;
                        &:hover {
                            color: #dc0210;
                        }
                    }
                    .play-left {
                        top: 0;
                        left: 30%;
                    }
                    .github-right {
                        top: 0;
                        left: 70%;
                    }
                }
                &:hover .content-details {
                    top: 50%;
                    left: 50%;
                    opacity: 1;
                }
                .fadeIn-bottom{
                    top: 80%;
                }
            }
        }
    }
}

.box-contact {
    min-height: 200px;
    padding: 2rem;
    background-color: $contact-skills-bg-color;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    p {
        @include p-margin-lheight-wspacing-lspacing;
    }
    h2 {
        @include h2-fsize-lheight-margin;
    }
    form div input,
    form div textarea {
        font-family:'magdacleanmonoregular';
        margin-top: 1%;
    }
    form input {
        width: 100%;
    }
    form textarea {
        width: 100%;
    }
    form label {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
    form div {
        margin: 0 5% 5% 5%;
    }
    form .contact-btn {
        background: none;
        border: 1px solid #ffffff;
        color: #ffffff;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 5px;
        font: inherit;
        &:hover {
            border: 1px solid #dc0210;
            color: #dc0210;
        }
    }
    .underline {
        @include underline;
    }
}

.box-footer {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #dc0210;
    background-color: $body-footer-bg-color;
    // min-height: 100px;
    div {
        margin: 0.5% 0;
    }
    a {
        text-decoration: none;
    }
    i[class*='fa-'] {
        color: #dc0210;
        font-size: 30px;
        margin: 5px;
        &:hover {
            color: #ffffff;
        }
    }
    span {
        color: #dc0210;
        font-size: 30px;
        margin: 5px;
        &:hover {
            color: #ffffff;
        }
    }
}

//Animation

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

// //Media Queries

//Extra small devices
@media only screen and (max-width: 600px) {
    .header-over-text {
        h1 {
            font-size: 1rem;
            visibility: hidden;
        }
    }
    .nav-is-open {
        .my-navbar-nav {
            .my-nav-link {
                font-size: 1em;
            }
        }
    }
    .box-about-me {
        p {
            letter-spacing: 0;
            word-spacing: 2.5px;
        }
    }
}
//Small devices

@media only screen and (min-width: 600px) {
    .header-over-text {
        h1 {
            font-size: 1.25rem;
        }
    }
    .nav-is-open {
        .my-navbar-nav {
            .my-nav-link {
                font-size: 1em;
            }
        }
    }
    .box-about-me {
        p {
            letter-spacing: 0.5px;
            word-spacing: 3px;
        }
    }
}

//Medium devices

@media only screen and (min-width: 768px) {
    .box-about-me {
        p {
            margin: 5% 7.5%;
        }
    }
    .my-technologies {
        .my-skills-grid {
            margin: 5% 7.5%;
            grid-gap: 10px;
            grid-auto-columns: 100px;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "a a b b c c"
            "d d e e f f"
            "g g g h h h";
        }
    }
    .item1 {
        grid-area: a;
    }
    .item2 {
        grid-area: b;
    }
    .item3 {
        grid-area: c;
    }
    .item4 {
        grid-area: d;
    }
    .item5 {
        grid-area: e;
    }
    .item6 {
        grid-area: f;
    }
    .item7 {
        grid-area: g;
    }
    .item8 {
        grid-area: h;
    }
    .projects-grid {
        grid-template-rows: repeat(3, 0.9fr);
        grid-template-columns: none;
        .project1,
        .project2,
        .project3 {
            img {
                width: 100%;
            }
        }
    }
    .box-contact {
        p {
            margin: 5% 7.5%;
        }
        form {
            div {
                margin: 0 7.5% 2.5% 7.5%;
            }
        }
    }
}

//Large devices

@media only screen and (min-width: 992px) {
    .my-navbar {
        .toggle {
            display: none;
        }
        .my-navbar-nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 80px;
            padding: 15px;
            .my-nav-link {
                margin: 15px;
            }
        }
    }
    .box-about-me {
        p {
            margin: 3% 10%;
        }
    }
    .my-technologies {
        .my-skills-grid {
            margin: 3% 10%;
            grid-gap: 10px;
            grid-auto-columns: 100px;
            grid-template-columns: repeat(8, 1fr);
            grid-template-areas: 
            "a a b b c c d d"
            "e e f f g g h h";
        }
    }
    .box-projects {
        .projects-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: none;
            grid-column-gap: 15px;
            .project1,
            .project2,
            .project3 {
                img {
                    width: auto;
                }
            }
        }
    }
    .box-contact {
        p {
            margin: 3% 10%;
        }
        form {
            div {
                margin: 0 10% 2.5% 10%;
            }
        }
    }
}

//Extra large devices

@media only screen and (min-width: 1200px) {
    .my-navbar {
        .toggle {
            display: none;
        }
        .my-navbar-nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 80px;
            padding: 15px;
            .my-nav-link {
                margin: 15px;
            }
        }
    }
    .box-contact {
        form {
            div {
                margin: 0 25% 2.5% 25%;
            }
        }
    }
}